<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1 style="background-color:red;">HEADER</h1>
        @RenderBody()
    <h1 style="background-color:red;">FOOTER</h1>
</body>
</html>
